<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mob.shop.gui"
	android:versionCode="1"
	android:versionName="1.0.0">
	<!-- 若ShopSDK设置了minSdkVersion，则ShopGUI必须同时设置，否则release出的Demo无法merge manifest -->
	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="25" />
	<application>
		<activity
			android:name="com.mob.tools.MobUIShell"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
	</application>
</manifest>
